@import "base/base";

@import "utilities/utilities";

@import "layout/layout";

@import "elements/elements";

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.navigation {
    background: $back;
}

.section {
    background: $secondary;
}

footer {
    background: $success;
}