section{
    background: #fff;
    box-shadow: 0 0 15px #f5e1cd;

    .banner {
        display: flex;

        .banner_aside {        
            display: flex;
            flex-direction: column;
            justify-content: space-around;    
            background: $success;
            box-shadow: 2px 2px 4px #3f3f3f;
            box-sizing: content-box;
            color: #fff;
            padding: 15px;
            margin: 6rem -8rem 8rem 0;
            z-index: 100;

            h3 {
                font-size: 3rem;
            }

            p {
                
                text-align: justify;
            }
        }
    }
}
