@import "header";
@import "navigation";
@import "section";
@import "sidebar"; 
@import "card"; 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background: $back;
    height: 100vh;
}