// MOBILE
@media screen and (max-width:479px) {
  #site-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 6fr 1fr;
    grid-template-areas: 
      "header"
      "section"
      "footer";

      .aside {
        display: none;
      }
  }
} 

// TABLET
@media screen and (min-width:480px) and (max-width:959px) {
  #site-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px auto 60px;
    grid-template-areas: 
      "header"
      "section"
      "footer";

      .aside {
        display: none;
      }
  } 
} 

// DESKTOP
  @media screen and (min-width:960px) {
    #site-container {
      display: grid;
      grid-template-columns: 60px auto 60px;
      grid-template-rows: 1fr 6fr 1fr;
      grid-template-areas: 
        "header header header"
        "aside_left section aside_right"
        "footer footer footer";
    }  
  }



header {
	grid-area: header;
}
section {
	grid-area: section;
}
.aside_left {
  grid-area: aside_left;
}
.aside_right {
  grid-area: aside_right;
}
footer {
	grid-area: footer;
}