/* Error: expected ";".
 *     ,
 * 107 | $tablet : 1024px; 
 *     |         ^
 *     '
 *   sass\utilities\_grid.scss 107:9    @import
 *   sass\utilities\utilities.scss 1:9  @import
 *   sass\main.scss 3:9                 root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected ";".\a     \2577 \a 107 \2502  $tablet : 1024px; \d\a     \2502          ^\a     \2575 \a   sass\\utilities\\_grid.scss 107:9    @import\a   sass\\utilities\\utilities.scss 1:9  @import\a   sass\\main.scss 3:9                 root stylesheet';
}
