// COLORS // 
$default: #000;
$primary: #00529C;
$secondary: #00AEEF;
$alert: #FF0000; 
$success: #00A650; 
$back: #FDF5ED;

// TYPOGRAPHIE

@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Quicksand:wght@500&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Chewy', cursive;
}

p, a {
    font-family: 'Quicksand', sans-serif;
}