@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

p, a {
    font-family: 'Quicksand', sans-serif;
}

a {
    color: $primary;
    text-decoration: none;
}

li {
    list-style-type: none;
}