@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Quicksand:wght@500&display=swap');

p, a {
    font-family: 'Quicksand', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}